<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,700;1,200;1,700&family=Righteous&family=Source+Code+Pro:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | prepend: relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body class="layout-{{ page.layout }}">
    <div id="top-bar">
      <div class="center-column">
        <div class="site-logo"><a href="/"><span class="logo-primary-part">chsxf</span><span class="logo-middle-part">.</span><span class="logo-secondary-part">dev</span></a></div>

        <ul class="links">
          {% for entry in site.socials %}
            <li class="social-link"><a href="{{ entry.url }}" target="_blank" rel="me"><img src="{{ entry.img | prepend: "assets/img/" | relative_url }}" title="{{ entry.name }}" /><span class="link-name">{{ entry.name }}</span></a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div id="content-wrapper">
    {{ content }}
    </div>
      
    <footer>
      <div class="center-column">
        Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
      </div>
    </footer>
  </body>
</html>
